In [1]:
from bs4 import BeautifulSoup as bs
import pandas  as pd
import requests 
import pymysql
#pymysql.install_as_MySQLdb()
#from sqlalchemy import create_engine

url = 'https://jiji.ng/'
page = requests.get(url)
soup = bs(page.content, 'html5lib')
#print(soup.prettify())
table = soup.find('div', attrs= {'class': 'h-dflex h-flex-wrap h-mh--7 h-mb--15'})
#print(table)
rows = table.findAll('div', attrs={'class': 'b-listing-cards__item'})
items = []
df = pd.DataFrame(columns=['title', 'price', 'imageCount', 'link'])
for row in rows:
    item = {}
    item['title'] = row.find('div', attrs={'class': 'b-trending-card__title'}).text.replace("\n        ", "").replace("\n      ","")
    item['price'] = row.find('div', attrs={'class': 'b-trending-card__price'}).text.replace("\n        ", "").replace("\n      ","").replace("â‚¦ ","")
    item['imageCount'] = row.find('div', attrs={'class': 'b-trending-card__counter'}).text.replace("\n        ", "").replace("\n      ","")
    item['link'] = row.a['href']
    
    df = df.append(item, ignore_index=True)
    try:
        #connect to database
        db = pymysql.connect(host='localhost', user='root', password='', database='univelcity', charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
        
        #prepare connection cursor
        cursor = db.cursor()
        
        #sql query to be executed
        sql = "INSERT into web_scrapping_data (title, price, imageCount, link) VALUES(%s, %s, %s, %s)"
        cursor.execute(sql, (item['title'], item['price'], item['imageCount'], item['link']))
        db.commit()
        print("Data inserted!")
    except Exception as e:
        db.rollback()
        print(e)
    db.close()
    

#df.to_csv('jiji_trending_adds.csv')

Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!
Data inserted!

In [7]:
import pymysql

try:
    #connect to database
    db = pymysql.connect(host='localhost', user='root', password='', database='univelcity', charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
        
    #prepare connection cursor
    cursor = db.cursor()
        
    #sql query to be executed
    sql = "SELECT * FROM web_scrapping_data"
    cursor.execute(sql)
    data = cursor.fetchall()
    #print(data)
    for record in data:
        title, price, imageCount, link = record.values()
        print("{}, {}, {}, {}".format(title, price, imageCount, link))
        print("\n")
        
except Exception as e:
    db.rollback()
    print(e)
db.close()

2bdrm House in Oyeniwe, Basorun for rent, 160,000 per annum, 5, https://jiji.ng/basorun/houses-apartments-for-rent/2bdrm-house-in-oyeniwe-basorun-for-rent-493PwWqJ5gt2xmZ34DNetL9a.html


Furnished 3bdrm Apartment in Ilorin South for rent, 450,000 per annum, 7, https://jiji.ng/ilorin-south/houses-apartments-for-rent/furnished-3bdrm-apartment-in-ilorin-south-for-rent-wj1rcfIwuRu99nPQSSI3Xt1J.html


1bdrm Bungalow in Akala Express for rent, 350,000 per annum, 6, https://jiji.ng/akala-express/houses-apartments-for-rent/1bdrm-bungalow-in-akala-express-for-rent-xg8tt5AkuZqMnU2cReTkWe4s.html


1bdrm Apartment in Osapa london for rent, 500,000 per annum, 6, https://jiji.ng/osapa-london/houses-apartments-for-rent/1bdrm-apartment-in-osapa-london-for-rent-xx5ikWnPI45i7SpRbxBHO6Am.html


2bdrm Block of Flats in 2 Bedroom Flat, Osogbo for rent, 200,000 per annum, 12, https://jiji.ng/osogbo/houses-apartments-for-rent/2bdrm-block-of-flats-in-2-bedroom-flat-osogbo-for-rent-1Cd4Otw0eyjhRmHvyt6RaePh.html


Studio Apartment in Igbojia Estate, Bogije for rent, 220,000 per annum, 9, https://jiji.ng/bogije/houses-apartments-for-rent/studio-apartment-in-igbojia-estate-bogije-for-rent-naHCkiXYRAS5UlrqaImgFEVz.html


1bdrm Apartment in Adageorge, Port-Harcourt for rent, 350,000 per annum, 8, https://jiji.ng/port-harcourt/houses-apartments-for-rent/1bdrm-apartment-in-adageorge-port-harcourt-for-rent-pY4542AZPyRylGVO3Wis5gFx.html


1bdrm Bungalow in Kasumu Estate, Oluyole for rent, 300,000 per annum, 7, https://jiji.ng/oluyole/houses-apartments-for-rent/1bdrm-bungalow-in-kasumu-estate-oluyole-for-rent-wJFeiAwXjA1DpWT06cxOQLE4.html


3bdrm Duplex in Rumuibekwe Estate, Port-Harcourt for rent, 1,800,000 per annum, 5, https://jiji.ng/port-harcourt/houses-apartments-for-rent/3bdrm-duplex-in-rumuibekwe-estate-port-harcourt-for-rent-v3vgSgQ2ejJH3r4HHiuKrD3z.html


1bdrm Room & Parlour in Ikorodu for rent, 150,000 per annum, 9, https://jiji.ng/ikorodu/houses-apartments-for-rent/1bdrm-room-parlour-in-ikorodu-for-rent-5oFgazj02Ma4pkp4ZUr7Fpws.html


1bdrm Apartment in Osogbo for rent, 200,000 per annum, 5, https://jiji.ng/osogbo/houses-apartments-for-rent/1bdrm-apartment-in-osogbo-for-rent-7KHuLGcnJaH3WixAJnAWThdb.html


Furnished 2bdrm Apartment in Success Real Estate, Ilesa for rent, 250,000 per annum, 6, https://jiji.ng/ilesa/houses-apartments-for-rent/furnished-2bdrm-apartment-in-success-real-estate-ilesa-for-rent-cEOFtZqm2S8NTzWlmqWvEiVZ.html


1bdrm Apartment in Off College Road, Ogba for rent, 400,000 per annum, 5, https://jiji.ng/ogba/houses-apartments-for-rent/1bdrm-apartment-in-off-college-road-ogba-for-rent-uHVZfnW3dyylMBGfQCX75zxT.html


1bdrm Apartment in Dutse-Alhaji for rent, 120,000 per annum, 6, https://jiji.ng/dutse/houses-apartments-for-rent/1bdrm-apartment-in-dutse-alhaji-for-rent-Gda4P2PlzdOKzS0ZmBQLh9y.html


Mini Flat in Oregun for rent, 750,000 per annum, 6, https://jiji.ng/oregun/houses-apartments-for-rent/mini-flat-in-oregun-for-rent-yySvk5LQE5qB7aPrgTbDG0Wq.html


3bdrm Block of Flats in Success Estate, Akobo for rent, 250,000 per annum, 8, https://jiji.ng/akobo/houses-apartments-for-rent/3bdrm-block-of-flats-in-success-estate-akobo-for-rent-a7aX5o3Php25TxiOuNA7GhDZ.html


Apple iPhone X 64 GB Black, 100,000, 5, https://jiji.ng/ikeja/mobile-phones/apple-iphone-x-64-gb-black-a51CqjZbO6PLjwcER9dsgrrj.html


Samsung Galaxy A70 128 GB White, 70,000, 3, https://jiji.ng/igando-ikotun/mobile-phones/samsung-galaxy-a70-128-gb-white-rpPznOWmG0Pmw319y1wpkKBJ.html


Apple iPhone 7 128 GB Black, 30,000, 2, https://jiji.ng/alimosho/mobile-phones/apple-iphone-7-128-gb-black-BLqXsMdZE5wKMaXUZVwtqpdK.html


Samsung Galaxy A70 128 GB Black, 95,000, 4, https://jiji.ng/onitsha-north/mobile-phones/samsung-galaxy-a70-128-gb-black-tRyLEIYBfmjfjcZyIRC8nHwd.html


Apple iPhone XS Max 64 GB Gold, 215,000, 2, https://jiji.ng/lokogoma/mobile-phones/apple-iphone-xs-max-64-gb-gold-llUlM31R8j0vRa42j6FkqG6J.html


Oppo Reno5 5G 256 GB Black, 160,000, 2, https://jiji.ng/enugu-north/mobile-phones/oppo-reno5-5g-256-gb-black-mICd9V1nsLSjRcSRLXSxGnCZ.html


Apple iPhone X 64 GB Black, 130,000, 3, https://jiji.ng/alimosho/mobile-phones/apple-iphone-x-64-gb-black-keMPsxyLwUQKHWOr97r7XqPH.html


Sony Xperia XZ3 64 GB, 75,000, 5, https://jiji.ng/bosso/mobile-phones/sony-xperia-xz3-64-gb-jDVb6KgGWDko6Dyna6oPAqs5.html


Xiaomi Redmi Note 9S 128 GB Blue, 55,000, 4, https://jiji.ng/isolo/mobile-phones/xiaomi-redmi-note-9s-128-gb-blue-k7LstJOJMCeQQ454gyFdHcB0.html


Apple iPhone XS 64 GB Gray, 140,000, 4, https://jiji.ng/yaba/mobile-phones/apple-iphone-xs-64-gb-gray-aLyxa4qhEpceQgKK9SEF03L6.html


Apple iPhone X 256 GB White, 150,000, 3, https://jiji.ng/obio-akpor/mobile-phones/apple-iphone-x-256-gb-white-3OlJQ9pfNPiowQ7QQyFZzVnh.html


Apple iPhone 8 Plus 256 GB White, 105,000, 2, https://jiji.ng/alimosho/mobile-phones/apple-iphone-8-plus-256-gb-white-hSbBbv0oZvB0D402g73fA2ZD.html


Apple iPhone 8 Plus 64 GB Red, 97,000, 2, https://jiji.ng/alimosho/mobile-phones/apple-iphone-8-plus-64-gb-red-rUk0yrIwxXLODERN4iepteuy.html


Apple iPhone X 64 GB White, 100,000, 4, https://jiji.ng/ife/mobile-phones/apple-iphone-x-64-gb-white-i1O8u0jSp7SaxN0WOGc8vsv4.html


New RED Hydrogen One 128 GB, 75,000, 6, https://jiji.ng/alimosho/mobile-phones/new-red-hydrogen-one-128-gb-u2Cq5rcqkNmOPbWw4L9g7LjC.html


Apple iPhone 6 32 GB Silver, 25,000, 6, https://jiji.ng/alimosho/mobile-phones/apple-iphone-6-32-gb-silver-zTiUjn9Gzb9ER7ToK46sV3y0.html


Apple iPhone X 64 GB White, 142,000, 3, https://jiji.ng/igando-ikotun/mobile-phones/apple-iphone-x-64-gb-white-yIrrxVLZnaSbZ8yYicJy8d5f.html


Apple iPhone 8 Plus 64 GB Black, 52,000, 2, https://jiji.ng/alimosho/mobile-phones/apple-iphone-8-plus-64-gb-black-cZG6jbgl7udgcTdXUFGUtKcd.html


Apple iPhone 7 Plus 32 GB Black, 45,000, 4, https://jiji.ng/alimosho/mobile-phones/apple-iphone-7-plus-32-gb-black-11RrSmSJNZAp5Q8exawVT7bV.html


Apple iPhone 7 Plus 128 GB Black, 20,000, 7, https://jiji.ng/alimosho/mobile-phones/apple-iphone-7-plus-128-gb-black-8yqdhFnDCKAlvqk4NqtPiE5d.html


Samsung Galaxy Note 20 Ultra 5G 128 GB Black, 35,000, 4, https://jiji.ng/isolo/mobile-phones/samsung-galaxy-note-20-ultra-5g-128-gb-black-3K0cgZCY2lK0w1YJVvBO1fyl.html


Apple iPhone 8 Plus 64 GB Gold, 25,000, 1, https://jiji.ng/alimosho/mobile-phones/apple-iphone-8-plus-64-gb-gold-gpe3QaDC49Eycc2V9mCGXbmL.html


Toyota Camry Hybrid 2009 Green, 3,100,000, 5, https://jiji.ng/maryland/cars/toyota-camry-hybrid-2009-green-AEVTFOfL7tQolJIE17TbTxd.html


Dodge Challenger R/T 2013 Black, 4,800,000, 12, https://jiji.ng/lokogoma/cars/dodge-challenger-r-t-2013-black-7DNZzLDY2932IYSLpkuC7ef8.html


Kia Rio 2014 Gray, 1,750,000, 5, https://jiji.ng/lekki/cars/kia-rio-2014-gray-qgpjDwLi5T8RyQO4ssDKmu0j.html


BMW 7 Series 2006 Black, 950,000, 6, https://jiji.ng/surulere/cars/bmw-7-series-2006-black-8BWXD3kcbLEz1JDfnOLjVhI2.html


Toyota Avensis Sedan 2005 Gray, 1,650,000, 5, https://jiji.ng/ibadan/cars/toyota-avensis-sedan-2005-gray-kypzU7bXQzVyKLzYa3QVdWe7.html


Toyota RAV4 2002 Silver, 1,300,000, 5, https://jiji.ng/ajah/cars/toyota-rav4-2002-silver-r2tCkiSUX1fvCyfEJG10gzlT.html


Peugeot 307 2006 White, 870,000, 8, https://jiji.ng/mararaba/cars/peugeot-307-2006-white-2tlHMt0wPMwmFKh0cq8DUHwU.html


Kia Cerato 2012 Brown, 1,200,000, 8, https://jiji.ng/lagos-abule-egba/cars/kia-cerato-2012-brown-hMMh3Tx7l6PVTBT2Q2s4gIjF.html


Lexus RX 330 2006 Black, 3,000,000, 6, https://jiji.ng/owerri-municipal/cars/lexus-rx-330-2006-black-BRQOqUi9iXSRilpi8ZXaTKXV.html


Mercedes-Benz C230 2006 Silver, 1,200,000, 5, https://jiji.ng/port-harcourt/cars/mercedes-benz-c230-2006-silver-8w6a3iC6YhJixA3UWfLV6Wh9.html


BMW X3 2.5i 2005 Brown, 2,050,000, 9, https://jiji.ng/gwarinpa/cars/bmw-x3-2-5i-2005-brown-18Sj9DmYaDXLlDOH0Ajg1POH.html


Dodge Charger 2021 Purple, 40,000,000, 16, https://jiji.ng/lekki/cars/dodge-charger-2021-purple-l7J0Ic0U4gmz52kirA26WBcU.html


Dodge Journey American Value Package 2012 Off white, 4,500,000, 12, https://jiji.ng/magodo/cars/dodge-journey-american-value-package-2012-off-white-hIbJuhyg7aSmGEcc6jkXVqaB.html


Toyota Corolla 2003 Silver, 790,000, 8, https://jiji.ng/akure-south/cars/toyota-corolla-2003-silver-1C4ALy9lvJAEOtI0lntFM3V3.html


Acura ZDX Base AWD 2013 Red, 3,990,000, 13, https://jiji.ng/ayobo-ipaja/cars/acura-zdx-base-awd-2013-red-yCjeeqzRqp4ovgNNF2Aq6zeB.html


Toyota Yaris 2005 Blue, 1,500,000, 9, https://jiji.ng/port-harcourt/cars/toyota-yaris-2005-blue-cq1Bwpan57W5T3UPMyYAH3hR.html


Mercedes-Benz CLA-Class 2015 White, 11,500,000, 17, https://jiji.ng/lekki/cars/mercedes-benz-cla-class-2015-white-aYqNqCAojBnc2d3QbWFJhEuP.html


Honda Accord 2007 Black, 1,200,000, 6, https://jiji.ng/lugbe/cars/honda-accord-2007-black-zToxNQALkw8rofgeVUL8R7Fk.html


Honda Pilot EX 4x2 (3.5L 6cyl 5A) 2007 Red, 2,200,000, 6, https://jiji.ng/alimosho/cars/honda-pilot-ex-4x2-3-5l-6cyl-5a-2007-red-rvjwoRrkI22aAvXIEXnEHK1i.html


Land Rover Range Rover Sport 2010 Black, 4,500,000, 11, https://jiji.ng/oredo/cars/land-rover-range-rover-sport-2010-black-fGO4ec99mKardZEeFHSk6lS5.html


Toyota Camry 2010 Silver, 3,100,000, 5, https://jiji.ng/ajah/cars/toyota-camry-2010-silver-yVVNrnv46FBi0N15MiB4Fjq8.html


Toyota Corolla 2008 Blue, 1,600,000, 12, https://jiji.ng/asaba/cars/toyota-corolla-2008-blue-mMWOeb99FEa4oHYGUuLePrPa.html

In [10]:
from bs4 import BeautifulSoup as bs
import pandas  as pd
import requests 
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

url = 'https://jiji.ng/'
page = requests.get(url)
soup = bs(page.content, 'html5lib')
#print(soup.prettify())
table = soup.find('div', attrs= {'class': 'h-dflex h-flex-wrap h-mh--7 h-mb--15'})
#print(table)
rows = table.findAll('div', attrs={'class': 'b-listing-cards__item'})
items = []
df = pd.DataFrame(columns=['title', 'price', 'imageCount', 'link'])
for row in rows:
    item = {}
    item['title'] = row.find('div', attrs={'class': 'b-trending-card__title'}).text.replace("\n        ", "").replace("\n      ","")
    item['price'] = row.find('div', attrs={'class': 'b-trending-card__price'}).text.replace("\n        ", "").replace("\n      ","").replace("â‚¦ ","")
    item['imageCount'] = row.find('div', attrs={'class': 'b-trending-card__counter'}).text.replace("\n        ", "").replace("\n      ","")
    item['link'] = row.a['href']
    
    df = df.append(item, ignore_index=True)
try:
    #Connect to database
    conn = pymysql.connect(host='localhost', user='root', password='', charset='utf8mb4', cursorclass=pymysql.cursors.DictCursor)
    #use the sqlalchemy engine
    engine = create_engine('mysql://root:@localhost/univelcity')
    with engine.begin() as connection:
     df.to_sql(name='web_scrapping_data', con=connection, if_exists='append', index=False)
    print("Data inserted!")
except Exception as e:
    print(e)

    

#df.to_csv('jiji_trending_adds.csv')

Data inserted!